.help {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(24 21 36);
  color: #fff;
  padding-top: 50px;
  &__wrapper {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: rgba(4, 21, 47, 1);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 15px;
  }
  &__left {
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__title,
  &__titlegreen {
    display: inline;
    font-size: 40px;
    line-height: 60px;
  }
  &__titlegreen {
    color: limegreen;
  }
  &__img {
    width: 600px;
    height: 450px;
  }
}
