.cookie-modal {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: rgba(34, 34, 34, 0.95);
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 1000;
  animation: slideUp 0.5s ease-in-out;
  backdrop-filter: blur(10px);

  .cookie-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cookie-icon {
    color: #f4c542;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 15px;
  }

  .cookie-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    }

    .accept {
      background: #27ae60;
      color: white;
      

      &:hover {
        background: #219150;
        transform: scale(1.05);
      }
    }

    .decline {
      background: #c0392b;
      color: white;

      &:hover {
        background: #a93226;
        transform: scale(1.05);
      }
    }
  }
}

// Animatsiya
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
