.director {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../../../assets/directorbg.png);
  background-size: cover;
  height: 580px;
  color: #fff;
  padding-top: 50px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;

  &__wrapper {
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
    font-size: 20px;
  }
  &__img {
    width: 250px;
  }
  &__profile {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__card {
    padding: 20px;
    background-color: #ffffff21;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1310px) {
  .director {
    height: auto;
    &__wrapper {
      width: 95%;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .director {
    &__left {
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 1030px) {
  .director {
    &__wrapper {
      flex-direction: column;
      gap: 30px;
    }
    &__left {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 450px) {
  .director {
    &__left {
      font-size: 12px;
    }
  }
}
