.courses {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(24 21 36);
  padding-top: 50px;
  color: #fff;
  &__wrapper {
    width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__img {
    width: 60px;
    height: 60px;
  }
  &__card {
    display: flex !important;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    height: 320px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    width: 410px !important;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    display: flex;
    width: 90px;
    border: 1px solid #fff;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
  }
  &__cardtitle {
    font-weight: 800;
  }
  &__text {
    letter-spacing: -0.5px;
    font-weight: 500;
    font-size: 15px;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slick-dots button:before {
    color: White !important;
  }
  &__link {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__arrow {
    width: 25px;
    height: 25px;
    font-size: 17px;
    padding: 3px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
  }
  &__price {
    background-color: #636363;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
  }
}
