.whywe {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background-color: rgb(24 21 36);
  color: #fff;
  &__wrapper {
    width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
  }
  &__titlegreen {
    color: limegreen;
  }
  &__titles {
    font-size: 20px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  &__card {
    width: 32%;
    padding: 20px;
    background-color: rgba(55, 52, 71, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    img {
      width: 60px;
    }
  }
}
@media only screen and (max-width: 1310px) {
  .whywe {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 999px) {
  .whywe {
    &__card {
      width: 48%;
    }
  }
}
@media only screen and (max-width: 520px) {
  .whywe {
    &__card {
      width: 100%;
    }
    &__titles {
      text-align: center;
    }
  }
}
